

<div class="Ficha">
    <div class="Cara1">
        <span>@F.Cara1</span> 
    </div>
    <div class="Cara2">
        <span>@F.Cara2</span>
    </div>
</div>

@code 
{
    [Parameter] 
    public Engine.Ficha<int> F { get; set; }
}