@page "/"
@using Engine

<PageTitle>Index</PageTitle>

@if(!isPlaying)
{
    _partida = new Partida<int>();
    
    <Menu P="_partida"> </Menu>
    
    <div style="text-align: center">
        <input type="button" value="Iniciar Patrida" @onclick="Cambiar">
    </div>
}

else
{
    if (!isEnded)
    {
        <div>
            <input type="button" value="Siguiente Turno" @onclick="CorrerPartida"/>
        </div>
       
        <div style="text-align: center">
         @{ int count = 1; }
         @{ bool volteo = false; }
        @foreach (var nodo in _partida.Tablero.Pintar(_partida.Tablero))
        {
            if (nodo.Hoja.Turno == 0) volteo = true;
            if (nodo.Hoja.Turno >= 0)
            {
                if (volteo)
                {
                    <Ahcif Board="nodo" colm="count"></Ahcif>
                }
                else
                {
                    <Ficha Board="nodo" colm="count"></Ficha>
                }
            }
            count += 1;
        }
        </div><br/><br/>
        
        <div>@_partida.Players[_partida.CurrentPlayer].name</div><br/>
        <div>
            @foreach (var ficha in _partida.Manos[_partida.CurrentPlayer].Contenido)
            {
                <Ficha2 F="ficha"></Ficha2>
            }
        </div>                                                         
    }

    else
    {
        <div>
            Ranking:<br/>
            @for (int i = 0; i < _partida.Players.Count; i++)
            {
                <div>@i  @_partida.Players[i].name</div>
            }
        </div>
    }
    <br/><div style="text-align: center">
       <input type="button" value="Finalizar Patrida" @onclick="Cambiar">
   </div> 
}

@code
{
    private bool isPlaying;
    private bool isEnded;
    private Partida<int> _partida {get; set;}

    void Cambiar()
    {
        isPlaying = !isPlaying;
        isEnded = false;
    }

    void CorrerPartida()
    {
        isEnded = _partida.RunTurn();
    }
    

}
